version: '3.9'

networks:
  talentflow-net:

services:
  TalentFlow.database:
    container_name: talentflow.database
    image: mcr.microsoft.com/mssql/server:2022-latest
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: MyStrong!Pass123
      MSSQL_PID: Developer
    volumes:
      - talentflow-mssql:/var/opt/mssql
    ports:
      - 14333:1433
    networks:
      - talentflow-net

volumes:
  talentflow-mssql: